doctype html
head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  meta(name="format-detection" content="telephone=no")
  title DAILY Beauty Bar
  link(rel="stylesheet" href="index.css")
body
  main
    .brand
      h1.brand__title DAILY
      p.brand__additional Beauty Bar
      //- .brand__logo
      //-   img.logo(src="img/logo.svg" width="150px")
    .contact-card
      .contact-card__icon
        a(href="tel:+79667928686").btn-icon
          .icon-phone
      h4.contact-card__label Телефон
      .contact-card__value 
        .phone-number.phone-number--no-city-code
          span.phone-number__number +7 966 792-86-86
    .contact-card
      .contact-card__icon
        a(href="https://instagram.com/daily_beautybar/" target="_blank").btn-icon
          .icon.icon-instagram
      h4.contact-card__label Instagram
      .contact-card__value daily_beautybar
    .contact-card
      .contact-card__icon
        a(href="https://vk.com/dailybeautybar" target="_blank").btn-icon
          .icon.icon-vk
      h4.contact-card__label VK
      .contact-card__value dailybeautybar
    //- .contact-card
    //-   .contact-card__icon
    //-     a(href="https://goo.gl/maps/STSHhYkoNgv" target="_blank").btn-icon
    //-       .icon.icon-map-marker
    //-   h4.contact-card__label Адрес
    //-   .contact-card__value Советская 51а
    .contact-card
      h4.contact-card__label WhatsApp / Viber / Telegram
      .contact-card__icon
        a(href="whatsapp://send?abid=+79667928686").btn-icon.btn-icon--small
          span.icon.icon-whatsapp.btn-icon__icon
          span.btn-icon__text WhatsApp
        a(href="viber://chat?number=+79667928686").btn-icon.btn-icon--small
          span.icon.icon-viber.btn-icon__icon
          span.btn-icon__text Viber
        a(href="tg://resolve?domain=+79667928686").btn-icon.btn-icon--small
          span.icon.icon-telegram.btn-icon__icon
          span.btn-icon__text Telegram
      .contact-card__value
        .phone-number
          span.phone-number__number +7 966 792-86-86
  
  script(src="index.js")
